<div id="<%= dom_id barber %>">
  <p>
    <strong>Name:</strong>
    <%= barber.name %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= barber.active %>
  </p>

  <p>
    <strong>Barber shop:</strong>
    <%= barber.barber_shop_id %>
  </p>

</div>
